<div class="question">
  <h3> <%= @search_term %> </h3>
  <h4> you </h4>
</div>

<div class="answer">
  <h3> <%= @answer %> </h3>
  <h4> coach </h4>
</div>

<%= link_to "ask another question!", ask_path %>
