<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="search_term" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
